.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pull-none {
  float: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.bordered-radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.centered {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.ui-page-icon {
  background: url("https://i.alipayobjects.com/i/ecmng/png/201403/2HGcKJX4gp.png") no-repeat -999px -999px;
  display: inline-block;
  *display: inline;
  
  *zoom: 1;
}
.ui-icon-corner {
  background-position: -1px -114px;
}
.ui-icon-overdue {
  background-position: 0 0;
  width: 116px;
  height: 72px;
}
.ui-icon-overdue-small {
  background-position: -200px 0;
  width: 78px;
  height: 50px;
}
.ui-icon-arrow {
  background-position: -300px -220px;
  width: 12px;
  height: 10px;
}
.ui-icon-success-large {
  background-position: -330px -220px;
  width: 32px;
  height: 32px;
}
.ui-icon-wait-large {
  background-position: -330px -260px;
  width: 32px;
  height: 32px;
}
.ui-icon-info {
  background-position: -330px -20px;
  width: 15px;
  height: 15px;
}
.ui-icon-question {
  background-position: -300px -20px;
  width: 17px;
  height: 19px;
}
.ui-icon-down {
  background-position: -329px 0;
  width: 8px;
  height: 8px;
}
.ui-icon-error {
  width: 15px;
  height: 15px;
  background-position: -200px -220px;
}
.ui-icon-more {
  width: 8px;
  height: 8px;
  background-position: -300px 0;
}
.ui-page {
  color: #333333;
  margin-top: 20px;
}
.ui-page .ui-text-normal {
  color: #333333;
}
.ui-page-title {
  font: 22px/32px bold tahoma, arial, "Hiragino Sans GB", "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 14px;
}
.ui-page-title .small {
  font-size: 18px;
  padding-left: 10px;
  margin-left: 10px;
  line-height: 24px;
  display: inline-block;
  *display: inline;
  
  *zoom: 1;
  border-left: 1px solid #ccc;
}
.ui-page .small {
  color: #999999;
}
.ui-page h3 {
  font: 16px/26px tahoma, arial, "Hiragino Sans GB", "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 14px;
}
.ui-page h3 .small {
  font-size: 14px;
}
.ui-page h3 .more {
  font-size: 14px;
  font-weight: normal;
}
.ui-page-content {
  position: relative;
  border-top: 6px solid #aac5da;
  border-bottom: 1px solid #c5dfeb;
  background: url("https://i.alipayobjects.com/i/ecmng/png/201403/2HGbs2jKpz.png") repeat-y 0 -1px transparent;
  width: 742px;
  padding: 30px 40px 60px;
  margin-bottom: 40px;
}
.ui-page-content .ui-icon-overdue {
  position: absolute;
  top: -6px;
  left: 0;
}
.ui-page-content .ui-icon-corner {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -1px;
  right: 0;
  background-color: white;
}
.ui-text-alt {
  color: #666666;
}
.ui-text-auxiliary {
  color: #999999;
}
.ui-text-info {
  color: #3e79b0;
}
.ui-text-success {
  color: #53a000;
}
.ui-text-important {
  color: #f26339;
}
.ui-text-warning {
  color: #fb7823;
}
.ui-text-error {
  color: red;
}
.ui-text-error .ui-page-icon,
.ui-text-auxiliary .ui-page-icon {
  position: relative;
  top: 2px;
  *top: 0;
}
.ui-table th {
  padding: 5px 25px;
}
.ui-table td {
  padding: 18px 25px;
  background-color: white;
}
.ui-table-condensed td,
.ui-table-condensed th {
  padding: 3px 7px;
  border-right: 1px solid #cccccc;
}
.ui-table-emphasize {
  border: 1px solid #a2bece;
}
.ui-table-emphasize thead th {
  background-color: #b6d1e5;
  color: #487ba3;
  font-size: 14px;
  padding: 9px 8px 9px 25px;
  border: none;
}
.ui-table-emphasize th .small {
  font-size: 12px;
  color: #487ba3;
}
.ui-table-emphasize td {
  padding: 14px 8px 14px 25px;
  border: none;
  border-right: 1px solid #b6d1e5;
}
.ui-table-center tr td,
.ui-table-center tr th {
  text-align: center;
}
.ui-table tr .right {
  text-align: right;
}
.ui-table tr .center {
  text-align: center;
}
.ui-table tr .left {
  text-align: left;
}
.ui-table-border td.last {
  border-right: none;
}
.ui-tab-table .ui-table {
  border-top: none;
}
.ui-table-striped tbody tr:nth-child(even) td {
  background-color: #fcfcfc;
}
.ui-button-primary {
  font: 20px/45px bold tahoma, arial, "Hiragino Sans GB", "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  background-color: #ff6e00;
  background-image: -moz-linear-gradient(top, #ff7700, #fe6000);
  background-image: -ms-linear-gradient(top, #ff7700, #fe6000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7700), to(#fe6000));
  background-image: -webkit-linear-gradient(top, #ff7700, #fe6000);
  background-image: -o-linear-gradient(top, #ff7700, #fe6000);
  background-image: linear-gradient(top, #ff7700, #fe6000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7700', endColorstr='#fe6000', GradientType=0);
  border-color: #fe6000 #fe6000 #b24300;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding: 0 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.ui-button-primary:hover,
.ui-button-primary:active,
.ui-button-primary.active,
.ui-button-primary.disabled {
  background-color: #fe6000;
}
.ui-button-primary[disabled] {
  background-color: #fe6000;
}
.ui-button-primary:active,
.ui-button-primary.active {
  background-color: #cb4d00 \9;
}
.ui-button-primary:visited {
  color: white;
}
.ui-button-primary:hover {
  color: white;
  background-color: #fe8417;
  background-image: -moz-linear-gradient(top, #ff8d10, #fd7622);
  background-image: -ms-linear-gradient(top, #ff8d10, #fd7622);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8d10), to(#fd7622));
  background-image: -webkit-linear-gradient(top, #ff8d10, #fd7622);
  background-image: -o-linear-gradient(top, #ff8d10, #fd7622);
  background-image: linear-gradient(top, #ff8d10, #fd7622);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8d10', endColorstr='#fd7622', GradientType=0);
  border-color: #fd7622 #fd7622 #d15102;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.ui-button-primary:hover:hover,
.ui-button-primary:hover:active,
.ui-button-primary:hover.active,
.ui-button-primary:hover.disabled {
  background-color: #fd7622;
}
.ui-button-primary:hover[disabled] {
  background-color: #fd7622;
}
.ui-button-primary:hover:active,
.ui-button-primary:hover.active {
  background-color: #ea5b02 \9;
}
.ui-paging,
.ui-paging input {
  color: #808080;
  margin: 0;
  padding: 0;
  zoom: 1;
  font-size: 12px;
  vertical-align: middle;
  padding-top: 10px;
}
.ui-paging:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.ui-paging a,
.ui-paging span.ui-paging-prev,
.ui-paging span.ui-paging-next {
  text-decoration: none;
  color: #808080;
  margin: 0 3px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  height: 22px;
  line-height: 22px;
}
.ui-paging-prev,
.ui-paging-next,
.ui-paging-goto {
  background-color: #F9F9F9;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4));
  background: -moz-linear-gradient(top, #fefefe, #f4f4f4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F4F4F4');
  background: -o-linear-gradient(top, #fefefe, #f4f4f4);
  background: linear-gradient(top, #fefefe, #f4f4f4);
  padding: 0 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #fff inset;
}
.ui-paging-prev:hover,
.ui-paging-next:hover,
.ui-paging-goto:hover {
  border-color: #999;
  color: #666;
}
.ui-paging-prev:hover .iconfont,
.ui-paging-next:hover .iconfont {
  color: #666;
}
.ui-paging .ui-paging-prev {
  margin: 0 3px 0 0;
}
.ui-paging .iconfont {
  font-size: 10px;
  color: #787878;
}
.ui-paging a.ui-paging-item {
  background-color: #f3f3f3;
  font-weight: bold;
  padding: 0 8px;
  border: none;
}
.ui-paging a.ui-paging-current,
.ui-paging a.ui-paging-item:hover {
  color: #fff;
  background: #ff9c00;
}
a.ui-paging-prev:hover,
a.ui-paging-next:hover {
  text-decoration: none;
  color: #666;
}
.ui-paging-info {
  line-height: 24px;
  margin-right: 5px;
  height: 24px;
}
.ui-paging-ellipsis {
  margin: 0 5px;
  line-height: 16px;
  font-weight: bold;
}
.ui-paging-which input {
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  width: 22px;
  border: 1px solid;
  border-color: #aaa #d1d1d1 #d1d1d1 #aaa;
}
.ui-paging-which input:hover {
  border-color: #999;
  color: #666;
}
.ui-paging-bold {
  font-weight: bold;
  padding: 0 8px;
}
.ui-paging span.ui-paging-prev,
.ui-paging span.ui-paging-next,
.ui-paging span.ui-paging-prev .iconfont,
.ui-paging span.ui-paging-next .iconfont {
  color: #fff;
  box-shadow: none;
  background: #d4d4d4;
  border-color: #d4d4d4;
  filter: none;
}
.price {
  font-size: 20px;
}
.price i {
  font-family: tahoma, arial, "Hiragino Sans GB", "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
}
.price-small {
  font-size: 16px;
}
.price-mini {
  font-size: 12px;
  font-weight: normal;
}
.price-large {
  font-size: 34px;
}
.price-most {
  font-size: 48px;
}
.ui-tab {
  margin: 0;
  padding: 0;
}
.ui-tab ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ui-tab li {
  list-style: none;
  vertical-align: top;
  position: relative;
  top: 1px;
}
.ui-tab-items {
  border-bottom: 1px solid #d9d9d9;
  font-size: 12px;
}
.ui-tab-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  *margin-right: 4px;
}
.ui-tab-item a {
  border-radius: 3px 3px 0 0;
  background: #fff;
  line-height: 30px;
  height: 30px;
  padding: 0 20px;
  border: 1px solid #d9d9d9;
  border-bottom: none;
  color: #4d4d4d;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}
.ui-tab-item a,
.ui-tab-item a:hover,
.ui-tab-item a:active {
  color: #4d4d4d;
}
.ui-tab-item-current a {
  font-weight: bold;
  height: 31px;
  background-color: #fafafa;
}
.ui-tab-item a:hover {
  background: #f6f6f6;
  text-decoration: none;
}
.ui-tab-item-current a:hover {
  background: #fafafa;
}
.ui-tips {
  border: 2px solid #f3f3f3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  z-index: 1000;
}
.ui-tips-content {
  padding: 10px;
  border: 1px solid #b8c8d3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f7fcff;
}
.ui-tips-content .ui-icon-arrow {
  position: absolute;
  top: -7px;
  left: 50%;
}
.ui-check-item {
  background-color: white;
  position: relative;
  float: left;
  width: 205px;
  height: 225px;
  padding: 15px;
  *padding-bottom: 25px;
  border: 1px solid #dbe6ed;
  border-top: 2px solid #aac6df;
  box-shadow: 0px 1px 2px #e0ebef;
  margin-right: 10px;
  margin-top: 20px;
}
.ui-check-item .ui-check-item-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  font-family: tahoma, arial, "Hiragino Sans GB", "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
}
.ui-check-item hr {
  border: none;
  margin-top: 8px;
  border-top: 1px solid #dde8f2;
  border-bottom: 2px solid #dde8f2;
  height: 1px;
  background: white;
}
.ui-check-item li {
  line-height: 30px;
  font-size: 14px;
  height: 30px;
  border-bottom: 1px solid #dde8f2;
  padding: 0 10px;
  overflow: hidden;
}
.ui-check-item .ui-icon-overdue-small {
  position: absolute;
  display: block;
  bottom: 8px;
  right: 10px;
}
.ui-check-item p {
  line-height: 22px;
  color: #7fa5c8;
  margin: 5px 0;
  padding: 0 10px;
}
.ui-check-wait {
  background: url("https://i.alipayobjects.com/i/ecmng/png/201403/2HGckpz2Sd.png") no-repeat 0 0 transparent;
}
.ui-check-warn,
.ui-check-view {
  width: 212px;
  height: 111px;
  position: relative;
  background-color: #f4f4f4;
}
.ui-check-warn-small {
  height: 95px;
  overflow: hidden;
}
.ui-check-warn .left,
.ui-check-view .left {
  top: 0;
  left: 0;
}
.ui-check-warn .right,
.ui-check-view .right {
  top: 0;
  right: 0;
}
.ui-check-border {
  height: 113px;
  width: 3px;
  position: absolute;
  background: url("https://i.alipayobjects.com/i/ecmng/png/201403/2HGcKJX4gp.png") no-repeat -300px -82px transparent;
}
.ui-check-view {
  background-color: #e4f1fd;
}
.ui-check-more {
  position: absolute;
  right: 10px;
  bottom: 15px;
}
.ui-check-warn-info {
  text-align: center;
  font-size: 16px;
  padding-top: 36px;
  font-family: tahoma, arial, "Hiragino Sans GB", "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
  color: #d9d9d9;
}
.ui-check-view-btn {
  width: 185px;
  height: 30px;
  line-height: 30px;
  top: 40px;
  left: 10px;
  font-size: 14px;
  display: block;
  *zoom: 1;
  color: white;
  position: absolute;
  text-align: center;
  background: url("https://i.alipayobjects.com/i/ecmng/png/201403/2HGcKJX4gp.png") no-repeat 5px -220px transparent;
}
.ui-check-view-btn:hover {
  color: white;
}
.ui-check-list .last {
  margin-right: 0;
}
.ui-dialog {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#880000, endColorstr=#880000);
  padding: 6px;
  outline: none;
}
.ui-dialog-content {
  background: #fff;
}
:root .ui-dialog {
  filter: none\9;
}
.ui-dialog-close {
  color: #999;
  cursor: pointer;
  display: block;
  font-family: tahoma;
  font-size: 24px;
  font-weight: bold;
  height: 18px;
  line-height: 14px;
  position: absolute;
  right: 16px;
  text-decoration: none;
  top: 16px;
  z-index: 10;
}
.ui-dialog-close:hover {
  color: #666;
  text-shadow: 0 0 2px #aaa;
  text-decoration: none;
}
.ui-dialog-title {
  height: 45px;
  font-size: 16px;
  font-family: tahoma, arial, "Hiragino Sans GB", "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 46px;
  border-bottom: 1px solid #E1E1E1;
  color: #4d4d4d;
  text-indent: 20px;
  background-color: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f9f9f9));
  background: -moz-linear-gradient(top, #fcfcfc, #f9f9f9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');
  background: -o-linear-gradient(top, #fcfcfc, #f9f9f9);
  background: -ms-linear-gradient(top, #fcfcfc, #f9f9f9);
  background: linear-gradient(top, #fcfcfc, #f9f9f9);
}
.ui-dialog-container {
  padding: 15px 20px 20px;
  font-size: 12px;
}
.ui-dialog-message {
  margin-bottom: 15px;
}
.ui-dialog-operation {
  zoom: 1;
}
.ui-dialog-confirm,
.ui-dialog-cancel {
  display: inline;
}
.ui-dialog-operation .ui-dialog-confirm {
  margin-right: 4px;
}
.ui-dialog-button-orange,
.ui-dialog-button-white {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  padding: 0 12px;
  line-height: 23px;
  height: 23px;
  *overflow: visible;
  
  background-image: none;
}
a.ui-dialog-button-orange:hover,
a.ui-dialog-button-white:hover {
  text-decoration: none;
}
.ui-dialog-button-orange {
  color: #fff;
  border: 1px solid #d66500;
  background-color: #f57403;
}
.ui-dialog-button-orange:hover {
  background-color: #fb8318;
}
.ui-dialog-button-white {
  border: 1px solid #afafaf;
  background-color: #f3f3f3;
  color: #777;
}
.ui-dialog-button-white:hover {
  border: 1px solid #8e8e8e;
  background-color: #fcfbfb;
  color: #676d70;
}
.ui-operator {
  color: #487ba3;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 16px;
}
.ui-control-group {
  *zoom: 1;
  margin-bottom: 20px;
}
.ui-control-group:before,
.ui-control-group:after {
  display: table;
  content: "";
}
.ui-control-group:after {
  clear: both;
}
.ui-control-group .control-label {
  width: 110px;
  float: left;
  line-height: 28px;
  height: 28px;
  text-align: right;
}
.ui-control-group .controls {
  margin-left: 120px;
}
.ui-control-group .controls input {
  line-height: 28px;
  height: 26px;
}
.ui-control-group .controls .control-text {
  width: 130px;
  padding: 0 10px;
}
.ui-control-group .controls input.error {
  color: #f26339;
}
.ui-message {
  position: relative;
  border: 1px solid #e5e5ce;
  padding: 20px 80px;
  margin: 0 110px 20px 0;
}
.ui-message .ui-page-icon {
  position: absolute;
  top: 25px;
  left: 40px;
}
.ui-message-success {
  background-color: #edffcc;
}
.ui-message-success h3 {
  margin: 0;
}
.ui-message-waiting {
  background-color: #fff9d7;
  border: 1px solid #e6ccae;
}
.ui-message-waiting h3 {
  margin: 8px 0;
}

.ui-table-repay{
    margin-bottom: 40px;
    border: 1px solid #a2bece;
}
.ui-table-repay td,
.ui-table-repay th{
    padding: 9px 0;
    text-align: center;
    border-bottom: none;
}
.ui-table-repay thead th{
    background-color: #b6d1e5;
    color: #487ba3;
    font-size: 14px;
    border: none;
}
.ui-table-repay .ui-button{
    position: relative;
    top: -5px;
    margin-left: 32px;
}
.ui-table-repay th .small{
    font-size: 12px;
    color: #487ba3;
}

