@import './variables.scss';
@import './_mixin.scss';
@import './_transition.scss';
@import './_navigation.scss';
@import './_base.scss';
@import './_media.scss';
@import './sidebar.scss';
@import './btn.scss';

.navbar.navbar-static-top {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  #page-wrapper {
    min-height: 100%;
  }
}

label {
  font-weight: 400;
}

#app {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;

  a {
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}


.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.pull-right {
  float: right !important;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.gray-bg, .bg-muted {
  background-color: #f3f3f4;
}



#app {
  .el-menu {
    background-color: $nav-bg;
    color: #bfcbd9;
    //border-right:solid 1px #e6e6e624;
    border-right-width:0;
  }

  // menu hover
  .sub-menu-title-noDropdown,
  .el-sub-menu__title, .el-menu-item {
    //color: #bfcbd9;
    &:hover,  &:focus {
      //background-color: $menuHover;
    }
  }

  & .nest-menu .el-sub-menu>.el-sub-menu__title,
  & .el-sub-menu>.el-sub-menu__title,
  & .el-sub-menu .el-menu-item {
    background-color: $subMenuBg;
    color: #a7b1c2;

    &:hover {
      background-color: $subMenuHover;
      //color: white;

      .landing_link {
          //background: #1ab394;
          //color:white;
      }
    }

    a:hover, a:focus {
      background-color: darken($nav-bg, 3%);
      color: white;
    }
  }

  & .el-sub-menu.is-opened {
    //border-left: 4px solid darken($navy, 2%);
    //background: $nav-bg-opened;
    & ul li, & div {
      //background: $nav-bg-opened;
    }
  }

  // .nav > li.active, .nav > li.is-opened {
  //   border-left: 4px solid darken($navy, 2%);
  //   background: darken($nav-bg, 3%);
  //   & ul li, & div {
  //     background: darken($nav-bg, 3%);
  //   }
  // }

  .is-active>.el-sub-menu__title {
    color: $subMenuActiveText;
  }

  .el-menu-item, .el-sub-menu__title {
    //font-weight: 300;
    font-size: 13px;
  }

  .landing_link {
    padding-left:0 !important;
    padding-right:0 !important;
  }

  .landing_link > a {
    padding-left:20px;
    padding-right:0;

  }

  .landing_link > a > i {
    color:white;
  }

  .nav.nav-second-level > li.active {
    border: none;
  }

  .nav.nav-second-level.collapse[style] {
    height: auto !important;
  }


  .nav-second-level li,
  .nav-third-level li {
    border-bottom: none !important;
  }

  .nav-second-level li a {
    padding: 7px 10px 7px 10px;
    //padding-left: 52px;
  }

  .nav-third-level li a {
    //padding-left: 62px;
  }

  .el-menu > .el-menu-item:last-child {
    //margin-bottom:10px;
  }



  body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .nav-second-level,
  .mini-navbar .nav li:focus > .nav-second-level {
    display: block;
    border-radius: 0 2px 2px 0;
    min-width: 140px;
    height: auto;
  }

  .mini-navbar .navbar-default .nav > li > .nav-second-level li a {
    font-size: 12px;
    border-radius: 3px;
  }

  .mini-navbar .nav-second-level li a {
    padding: 10px 10px 10px 15px;
  }

  .mini-navbar .nav .nav-second-level {
    position: absolute;
    left: 70px;
    top: 0;
    background-color: $nav-bg;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
  }

  .canvas-menu.mini-navbar .nav-second-level {
    background: darken($nav-bg, 3%);
  }

  .mini-navbar li.active .nav-second-level {
    left: 65px
  }

  body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav-second-level {
    display: none;
  }

  .fixed-sidebar.mini-navbar .nav li:focus > .nav-second-level,
  .canvas-menu.mini-navbar .nav li:focus > .nav-second-level {
    display: block;
    height: auto;
  }

  body.fixed-sidebar.mini-navbar .navbar-default .nav > li > .nav-second-level li a {
    font-size: 12px;
    border-radius: 3px;
  }

  body.canvas-menu.mini-navbar .navbar-default .nav > li > .nav-second-level li a {
    font-size: 13px;
    border-radius: 3px;
  }

  .fixed-sidebar.mini-navbar .nav-second-level li a,
  .canvas-menu.mini-navbar .nav-second-level li a {
    padding: 10px 10px 10px 15px;
  }

  .fixed-sidebar.mini-navbar .nav-second-level,
  .canvas-menu.mini-navbar .nav-second-level {
    position: relative;
    padding: 0;
    font-size: 13px;
  }

  .fixed-sidebar.mini-navbar li.active .nav-second-level,
  .canvas-menu.mini-navbar li.active .nav-second-level {
    left: 0
  }

  .canvas-menu.mini-navbar .nav-second-level li a,
  .fixed-sidebar.mini-navbar .nav-second-level li a {
    padding: 7px 10px 7px 52px
  }

  .fixed-sidebar.mini-navbar .nav-second-level,
  .canvas-menu.mini-navbar .nav-second-level {
    left: 0
  }


}

.el-menu-item, .el-sub-menu__title {
  height: 47.5px;
  line-height: 47.5px;
}

.el-sub-menu > .el-menu .el-menu-item, .el-sub-menu .el-sub-menu > .el-sub-menu__title {
  height: 33.5px;
  line-height: 33.5px;
}

.el-sub-menu > .el-menu > .el-menu-item > a {
    padding-left: 22px;
}

.el-sub-menu > .el-menu > .el-sub-menu > .el-sub-menu__title {
    padding-left: 57px;
}

.el-sub-menu > .el-menu > .el-sub-menu > .el-menu {
    
}

.divider.nest-menu {
    margin: 4px 10px;
}

.el-sub-menu__title i {
  color:#a7b1c2;
  font-size:10px;
}


.metismenu .el-sub-menu.is-opened > .el-sub-menu__title {
  height:47.5px;
  line-height:47.5px;
}

.metismenu .el-sub-menu.is-opened.nav-second-level > .el-sub-menu__title {
  height:39px;
  line-height:39px;
}

.metismenu .el-sub-menu.nav-second-level > .el-sub-menu__title {
  height:39px;
  line-height:39px;
}


.metismenu .el-sub-menu.is-opened > .el-sub-menu__title > span {
  //color:#ffffff;
}

.metismenu .el-sub-menu.is-opened > .el-sub-menu__title > i {
  //color:#ffffff;
}


.metismenu .el-sub-menu.is-opened > .el-sub-menu__title .el-sub-menu__icon-arrow {
  transform:rotateZ(0deg);
}

.metismenu .el-sub-menu >.el-sub-menu__title .el-sub-menu__icon-arrow {
  transform:rotateZ(90deg);
  font-size: 13px;
  width: 10px;
  height: 10px;
  margin-right: -3px;
  margin-top: -5px;
}

#app .metismenu .el-sub-menu.is-opened .el-menu {
  //background-color:#293846;
}

.nav-second-level {
  text-indent:12px;
}

.nav-third-level {
  text-indent:-3px;
}

.metismenu .divider {
  background-color:rgba(229, 229, 229, 0.08);
  //margin:4px 4px;
}

.metismenu > li > a {
  color:#a7b1c2;
}

.metismenu > li:hover {
  background-color:transparent;
}

.el-dropdown {
  color:inherit;
}
