@charset "utf-8";html{color:#000;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
a:hover{text-decoration:underline}
ins,a{text-decoration:none}
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.fn-clear{zoom:1}
body .fn-hide{display:none}
.fn-left,.fn-right{display:inline}
.fn-left{float:left}
.fn-right{float:right}
.ui-button{padding:0;display:inline-block;position:relative;text-align:center;text-decoration:none!important;vertical-align:middle;overflow:visible;cursor:pointer}
div.ui-button,p.ui-button,span.ui-button{*display:inline}
.ui-button-text{display:block;cursor:pointer;border:0;text-decoration:none;overflow:visible}
.ui-button a.ui-button-text:hover{text-decoration:none}
.ui-button input.ui-button-text,.ui-button button.ui-button-text{*display:inline}
.ui-menu{display:block;width:150px;padding:0;margin:0;border:1px #ccc solid;background:#fff;list-style:none;zoom:1}
.ui-menu:after{clear:both;content:'.';display:block;height:0;visibility:hidden}
.ui-menu-item{margin:0;padding:0;float:left;width:100%;zoom:1}
.ui-menu-item a{text-decoration:none;display:block;padding:.2em .4em;line-height:1.5;zoom:1}
.ui-menu-item a:hover,a.ui-state-hover{background:#dfedfd}
.ui-menu-fix{position:absolute;left:0;top:0;width:100%;height:100%;z-index:-1;zoom:1}
.ui-menu-item-split{padding:0;border-bottom:1px solid #c5c5c5}
.ui-menu-radios .ui-menu-item{position:relative}
.ui-menu-radios .ui-menu-item .ui-menu-text{padding-left:15px}
.ui-menu-radios .ui-menu-icon{display:none;height:100%;position:absolute;left:5px;top:2px;color:#07f}
.ui-menu-radios .selected .ui-menu-icon{display:block}
.ui-tab2,.ui-tab2-head,.ui-tab2-head ul{zoom:1}
.ui-tab2-head:after,.ui-tab2-head ul:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.ui-tab2-head li{float:left;_display:inline;margin-right:2px;cursor:pointer;font-size:12px;height:24px;line-height:23px;*line-height:24px;cursor:pointer}
.ui-tab2-head li a{display:block;float:left;height:100%}
.ui-tab2-head li span{display:block;height:100%;float:left;padding:0 14px 0 15px;white-space:nowrap;cursor:pointer}
.ui-tab2-head .current{font-weight:700}
.ui-tab2-head .current span{padding:0 11px 0 13px}
.ui-tab2-head a,.ui-tab2-head a:hover{color:#4d4d4d;text-decoration:none}
.ui-tab2-1{position:relative}
.ui-tab2-1 .ui-tab2-head{border-bottom:1px #d2d2d2 solid}
.ui-tab2-1 .ui-tab2-head ul{position:relative;top:1px;zoom:1}
.ui-tab2-1 .ui-tab2-head a,.ui-tab2-1 .ui-tab2-head span{background-image:url(https://img.alipay.com/pa/frame/v2/bg-tab.png);background-repeat:no-repeat}
.ui-tab2-1 .ui-tab2-head a{background-position:0 -181px}
.ui-tab2-1 .ui-tab2-head span{background-position:right -215px}
.ui-tab2-1 .ui-tab2-head a:hover{background-position:0 -249px}
.ui-tab2-1 .ui-tab2-head a:hover span{background-position:right -283px}
.ui-tab2-1 .ui-tab2-head .current a,.ui-tab2-1 .ui-tab2-head .current a:hover{background-position:0 -316px}
.ui-tab2-1 .ui-tab2-head .current span,.ui-tab2-1 .ui-tab2-head .current a:hover span{background-position:right -349px}
.ui-form{margin-top:30px}
.ui-form legend{display:none}
.ui-form-required{margin-right:6px;font-family:SimSun;font-size:14px;color:#f00}
.ui-form-explain{padding:3px 0 0;padding:5px 0 0\9;_padding-top:3px;*margin-top:-1px;_margin-left:3px;font-size:12px;color:#b2b2b2}
.ui-form-other{_display:inline-block;margin-left:4px}
.ui-form-text{display:inline-block;margin-top:4px;*margin-top:6px;_margin-top:4px;zoom:1}
.ui-form-status{color:#20b907;background:url(https://img.alipay.com/alice/ui-fm-loading.gif) right bottom no-repeat;padding-right:15px}
.ui-form-list{_float:left;_width:100%}
.ui-label{float:left;width:170px;margin-left:-170px;padding-top:3px;*padding-top:4px;text-align:right;font-size:14px}
.ui-label-reset{padding-top:0}
.ui-input{width:170px;padding:7px 9px 7px 9px;height:12px;line-height:12px;border:1px solid #ccc;border-top-color:#a6a6a6}
.ui-input:hover,.ui-textarea:hover{border:1px #a6a6a6 solid;border-top-color:#808080}
.ui-input:focus,.ui-textarea:focus{border:1px #68acff solid;outline:1px aqua solid}
.ui-input-mini{height:15px;line-height:16px;padding:2px}
.ui-input-mini:focus{*padding:1px}
.ui-input-mini{width:150px;vertical-align:middle}
.ui-input-amount{width:80px;font-weight:700}
.ui-input-len10,.ui-input-date{width:67px}
.ui-input-len5,.ui-input-time{width:35px}
.ui-input-len6{width:44px}
.ui-input-len8,.ui-input-tel{width:58px}
.ui-input-len10cn{width:122px}
.ui-input-len30cn{width:362px}
.ui-input-len4{width:28px}
.ui-textarea{width:422px;height:79px;line-height:15px;border:1px #9c9c9c solid;padding:1px 3px 0 4px;_padding:1px 2px 0 5px;overflow:auto;font-family:Arial}
.ui-input-unwrite,.ui-textarea-unwrite{border:1px solid #ccc;background:#f2f2f2}
.ui-input-unwrite:hover,.ui-textarea-unwrite:hover{border:1px solid #ccc;background:#f2f2f2}
.ui-form-item:after{clear:both;content:'.';display:block;height:0;visibility:hidden}
.ui-form-item{padding:0 5px 15px 170px;*padding:0 5px 12px 170px;_padding:0 5px 13px 170px;zoom:1;font-family:tahoma,\5b8b\4f53,\9ED1\4F53,"Hei",sans-serif}
.ui-form-item select{vertical-align:middle;margin:4px 0 0}
.ui-form-item input{vertical-align:middle}
.ui-form-item .ui-input{font-size:12px;*font-size:11px;_font-size:12px;color:#595959;vertical-align:middle;*vertical-align:-5px}
.ui-form-item .ui-button-group .ui-button-text-only{margin:3px 0 0;margin:2px 0 0\0}
.ui-form-item .ui-button-text-only .ui-button-text{padding:.1em .5em}
.ui-form-item .ui-button-checkboxes .ui-state-selected{padding-right:2px;background:url(https://img.alipay.com/alice/ui-button-checkboxes-selected.png) right bottom no-repeat}
.ui-form-item .ui-form-item-placeholder{color:#b2b2b2}
.ui-form-item-hover .ui-input,.ui-form-item-hover .ui-textarea{border:1px #727272 solid}
.ui-form-item-focus .ui-input,.ui-form-item-focus .ui-textarea{border:1px #68acff solid;outline:1px aqua solid;*padding:3px 0 3px 2px;*border:2px #95ddff solid;cursor:text}
.ui-form-item-focus .ui-textarea{*padding:1px 0 1px 2px}
.ui-form-item-focus .ui-form-explain,.ui-form-item-hover .ui-form-explain{color:#333}
.ui-form-item-error .ui-input,.ui-form-item-error .ui-textarea{border:1px #F00 solid;color:#ff5243}
.ui-form-item-error .ui-input-reset{border:1px #9c9c9c solid;color:#000}
.ui-form-item-error .ui-form-explain,.ui-form-item-warn .ui-form-explain,.ui-form-item-success .ui-form-explain{background-image:url(https://img.alipay.com/alice/ui-fm.png);background-repeat:no-repeat;padding-left:20px;*zoom:1}
.ui-form-item-error .ui-form-explain{color:#ff5243;background-position:-186px 6px}
.ui-form-item-warn .ui-form-explain{background-position:-138px -80px}
.ui-form-item-error .ui-input:hover,.ui-form-item-error .ui-textarea:hover{border:1px #a6a6a6 solid}
.ui-form-item-error .ui-input:focus,.ui-form-item-error .ui-textarea:focus{border:1px #68acff solid;color:#727272}
.ui-form-item-success .ui-form-explain{background-position:-114px -123px}
.ui-form-item-loading .ui-form-explain{padding-left:20px;background:url(https://img.alipay.com/alice/ico-loading16.gif) 0 4px no-repeat}
.ui-checkcode-input{width:100px;height:24px;line-height:28px;margin:0;padding:0;color:#000;font-size:12px;vertical-align:middle;padding:2px 5px;border:1px solid #ccc;border-top-color:#a6a6a6;font-family:Tahoma;_float:left}
.ui-checkcode-imgcode-img{cursor:pointer}
.ui-checkcode-imgcode-text{color:#07f}
.ui-checkcode-imgcode-text-limit{width:48px;position:absolute;left:340px;top:-3px}
.ui-separator{color:#b2b2b2}
.ui-separator-pd{color:#b2b2b2;padding:0 5px}
.ui-tiptext{color:#4d4d4d;padding:0 0 0 22px;position:relative;height:15px;overflow:hidden;vertical-align:middle;line-height:15px;*line-height:19px;_line-height:15px;line-height:18px\0}
.ui-tiptext-content{border:1px solid #fff;padding:8px 12px 9px;position:relative}
.ui-tiptext-icon,.ui-tiptext-arrowup{background:transparent url('https://i.alipayobjects.com/e/201112/2EnNWHgoWw.png') no-repeat}
.ui-tiptext-icon{width:15px;height:15px;display:block;position:absolute;top:0;left:0;text-indent:-9999px;overflow:hidden}
.ui-tiptext-message .ui-tiptext-icon{background-position:0 -33px}
.ui-tiptext-container-message{background:#e5f5ff;border:1px solid #c9d5e2}
.ui-tiptext-success .ui-tiptext-icon{background-position:-45px -33px}
.ui-tiptext-container-success{background:#f9f9f9;border:1px solid #d4d4d4}
.ui-tiptext-error .ui-tiptext-icon{background-position:-30px -33px}
.ui-tiptext-container-error{background:#fceee8;border:1px solid #f6c8b5}
.ui-tiptext-warning .ui-tiptext-icon{background-position:-15px -33px}
.ui-tiptext-container-warning{background:#ffff8d;border:1px solid #e7c560}
.ui-tiptext-question .ui-tiptext-icon{background-position:-60px -33px}
.ui-tiptext-container-question{background:#e5f5ff;border:1px solid #c9d5e2}
.ui-tiptext-stop .ui-tiptext-icon{background-position:-75px -33px}
.ui-tiptext-container-stop{background:#fceee8;border:1px solid #f6c8b5}
.ui-tiptext-wait .ui-tiptext-icon{background-position:-90px -33px}
.ui-tiptext-container-wait{background:#e5f5ff;border:1px solid #c9d5e2}
.ui-tiptext-arrowup{display:inline-block;height:10px;left:40px;margin-left:-8px;position:absolute;text-indent:-9999em;width:16px;z-index:1;top:-9px;_top:-8px}
.ui-tiptext-arrowup-message{background-position:-194px -39px}
.ui-tiptext-arrowup-warning{background-position:-211px -39px}
.sl-linear{background:-webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f1f1f1));background:-moz-linear-gradient(top,#fcfcfc,#f1f1f1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#f1f1f1');background:-o-linear-gradient(top,#fcfcfc,#f1f1f1);background:linear-gradient(top,#fcfcfc,#f1f1f1)}
.ui-dlist{display:inline-block;color:#808080}
.ui-dlist-tit{float:left;width:100px;text-align:right}
.ui-dlist-det{float:left;width:400px;text-align:left}
.ui-dlist-det a{margin-left:15px}
.ui-button-ldisable,.ui-button-mdisable,.ui-button-sdisable,.ui-button-ldisable .ui-button-text,.ui-button-mdisable .ui-button-text,.ui-button-sdisable .ui-button-text{background-image:url(https://i.alipayobjects.com/e/201204/2vCVR5Bh4d.png);background-repeat:no-repeat;background-color:transparent}
.ui-button-ldisable .ui-button-text,.ui-button-mdisable .ui-button-text,.ui-button-sdisable .ui-button-text{font-family:verdana,\5b8b\4f53,\9ED1\4F53,sans-serif;font-size:14px;font-weight:700;color:#fff;cursor:text}
.ui-button-ldisable{background-position:0 -1021px}
.ui-button-ldisable .ui-button-text{padding:8px 20px 9px 20px;background-position:right -1063px}
.ui-button-mdisable{background-position:0 -891px}
.ui-button-mdisable .ui-button-text{padding:6px 22px 6px 22px;*padding:5px 22px 5px 22px;background-position:right -927px}
.ui-button-sdisable{background-position:0 -962px}
.ui-button-sdisable .ui-button-text{padding:3px 12px 4px 12px;font-size:12px;background-position:right -991px}
.ui-button-ldisable input.ui-button-text,.ui-button-mdisable input.ui-button-text,.ui-button-sdisable input.ui-button-text{*overflow:visible}
.ui-button-lorange,.ui-button-lorange:hover,.ui-button-morange,.ui-button-morange:hover,.ui-button-sorange,.ui-button-sorange:hover,.ui-button-lorange .ui-button-text,.ui-button-morange .ui-button-text,.ui-button-sorange .ui-button-text{background-image:url(https://i.alipayobjects.com/e/201204/2vCVR5Bh4d.png);background-repeat:no-repeat;background-color:transparent}
.ui-button-lorange .ui-button-text,.ui-button-morange .ui-button-text,.ui-button-sorange .ui-button-text{font-family:verdana,\5b8b\4f53,\9ED1\4F53,sans-serif;font-size:14px;font-weight:700}
.ui-button-lorange{background-position:0 0}
.ui-button-lorange .ui-button-text{padding:8px 20px;background-position:right -177px;color:#fff}
.ui-button-lorange:hover{background-position:0 -45px}
.ui-button-lorange:hover .ui-button-text{background-position:right -222px}
.ui-button-morange{background-position:0 -355px}
.ui-button-morange .ui-button-text{padding:5px 22px 6px 22px;background-position:right -503px;color:#fff}
.ui-button-morange input.ui-button-text{padding:6px 22px}
.ui-button-morange:hover{background-position:0 -392px}
.ui-button-morange:hover .ui-button-text{background-position:right -540px}
.ui-button-sorange{background-position:0 -651px}
.ui-button-sorange .ui-button-text{padding:3px 12px 4px 12px;font-size:12px;background-position:right -771px;color:#fff}
.ui-button-sorange input.ui-button-text{padding:4px 12px}
.ui-button-sorange:hover{background-position:0 -681px}
.ui-button-sorange:hover .ui-button-text{background-position:right -801px}
.ui-button-lorange input.ui-button-text,.ui-button-morange input.ui-button-text,.ui-button-sorange input.ui-button-text{*overflow:visible}
.ui-button-lwhite,.ui-button-lwhite:hover,.ui-button-mwhite,.ui-button-mwhiter:hover,.ui-button-swhite,.ui-button-swhite:hover,.ui-button-lwhite .ui-button-text,.ui-button-mwhite .ui-button-text,.ui-button-swhite .ui-button-text{background-image:url(https://i.alipayobjects.com/e/201204/2vCVR5Bh4d.png);background-repeat:no-repeat;background-color:transparent}
.ui-button-lwhite .ui-button-text,.ui-button-mwhite .ui-button-text,.ui-button-swhite .ui-button-text{font-family:verdana,\5b8b\4f53,\9ED1\4F53,sans-serif;font-size:14px;font-weight:700}
.ui-button-lwhite{background-position:0 -89px}
.ui-button-lwhite .ui-button-text{padding:8px 20px;background-position:right -266px;color:#595959}
.ui-button-lwhite:hover{background-position:0 -133px}
.ui-button-lwhite:hover .ui-button-text{background-position:right -310px}
.ui-button-mwhite{background-position:0 -429px}
.ui-button-mwhite .ui-button-text{padding:5px 22px 6px 22px;background-position:right -577px;color:#595959}
.ui-button-mwhite:hover{background-position:0 -466px}
.ui-button-mwhite:hover .ui-button-text{background-position:right -614px}
.ui-button-swhite{background-position:0 -711px}
.ui-button-swhite .ui-button-text{padding:3px 12px 4px 12px;font-size:12px;background-position:right -831px;color:#595959}
.ui-button-swhite:hover{background-position:0 -741px}
.ui-button-swhite:hover .ui-button-text{background-position:right -861px}
.ui-button-lwhite input.ui-button-text,.ui-button-mwhite input.ui-button-text,.ui-button-swhite input.ui-button-text{*overflow:visible}
.ui-popmenu{display:inline-block;*display:inline;zoom:1;position:relative;z-index:14}
.ui-popmenu-title{display:inline-block;*display:inline;zoom:1;vertical-align:middle;padding:3px 6px 2px;background:#fff;border:1px solid #ccc;position:relative}
.ui-popmenu-container{display:none}
.ui-popmenu-active .ui-popmenu-container{display:block;position:absolute;right:0;top:24px;z-index:-1;zoom:1}
.ui-popmenu-active .ui-popmenu-title{border-bottom:0;padding-bottom:3px}
.ui-tipbox{position:relative;zoom:1}
.ui-tipbox .ui-tipbox-icon{width:32px;height:32px;position:absolute;top:17px;left:40px;text-indent:-9999px}
.ui-tipbox-icon{background:transparent url('https://i.alipayobjects.com/e/201201/2NBAbOHc4g.png') no-repeat}
.ui-tipbox-message{border:1px solid #cbd7e3;background:#e5f5ff}
.ui-icon-message{background-position:0 0}
.ui-tipbox-success{border:1px solid #cdfa5f;background:#e8ffc6}
.ui-icon-success{background-position:-99px 0}
.ui-tipbox-error{background:#ffefe7;border:1px solid #ffdfcc}
.ui-icon-error{background-position:-66px 0}
.ui-tipbox-warning{background:#fff4c3;border:1px solid #ffe87e}
.ui-icon-warning{background-position:-33px 0}
.ui-tipbox-question{border:1px solid #cbd7e3;background:#e5f5ff}
.ui-icon-question{background-position:-132px 0}
.ui-tipbox-stop{background:#ffefe7;border:1px solid #ffdfcc}
.ui-icon-stop{background-position:-165px 0}
.ui-tipbox-wait{border:1px solid #ffe87e;background:#fff4c3}
.ui-icon-wait{background-position:-198px 0}
.ui-tipbox-content{margin:14px 0 14px 87px}
.ui-tipbox-content-simple{margin:24px 0 24px 87px}
.ui-tipbox-content h3{color:#333;font-size:14px;font-weight:bold}
.ui-tipbox-explain{color:#808080}
.ui-tipbox-other{color:#333}
.ui-tipbox-other a{color:#3d86e5}
.ui-tipbox-xbox{background:#fff;border:0}
.ui-tipbox-container{width:700px;position:relative;zoom:1}
.ui-tipbox-container .ui-tipbox-icon{width:32px;height:32px;position:absolute;top:17px;left:40px;text-indent:-9999px}
.ui-tipbox-container-message{border:1px solid #cbd7e3;background:#e5f5ff}
.ui-tipbox-container-success{border:1px solid #e5e5ce;background:#edffcc}
.ui-tipbox-container-error{background:#fceee8;border:1px solid #f6c8b5}
.ui-tipbox-container-warning{background:#ffff9d;border:1px solid #e7c560}
.ui-tipbox-container-question{border:1px solid #cbd7e3;background:#e5f5ff}
.ui-tipbox-container-stop{background:#fceee8;border:1px solid #f6c8b5}
.ui-tipbox-container-wait{border:1px solid #cbd7e3;background:#e5f5ff}
.n-explain{color:#808080}
.n-other{color:#333}
.n-other a{color:#3d86e5}
.ui-contacts-search{width:300px}
.ui-contacts-close,.ui-contacts-close:hover,.contacts-btn,.contacts-btn:hover,.contacts-link,.ui-contacts-search,.ui-contacts-search-container,.ui-contacts-search-close,.ui-contacts-arrow,.ui-contacts .ui-tab2-head .ui-contacts-arrow,.ui-contacts .ui-tab2-head .current .ui-contacts-arrow{background:url(https://i.alipayobjects.com/e/201112/2Eq6tTY2Cp.png) no-repeat}
.ui-contacts-close{position:absolute;top:5px;right:5px;display:block;width:15px;height:15px;overflow:hidden;text-indent:-999em;background-position:0 -139px}
.ui-contacts-close:hover{background-position:-15px -139px}
.ui-contacts-search,.ui-contacts-search-container{height:59px}
.ui-contacts-search-close{background-position:0 -124px}
.ui-contacts-search{background-position:0 0}
.ui-contacts-search-container{background-position:right -61px;position:relative}
.ui-contacts-search-container .ui-fm-placeholder{color:#b2b2b2}
.ui-contacts-search-text{border:0;position:absolute;top:28px;*top:28px;left:26px;height:19px;line-height:19px;width:224px;background:transparent}
.ui-contacts-search-btn,.ui-contacts-search-close{width:13px;height:13px;border:0;position:absolute;right:34px;top:32px;background-color:#fff;display:block;text-indent:-999em;cursor:pointer}
.ui-contacts{width:290px;padding:2px 4px 4px;border:1px solid #d2d2d2;background:#e8e8e8 url(https://img.alipay.com/alice/ui-contacts.png) 0 0 repeat-x}
.ui-contacts .ui-tab2-head em{visibility:hidden;margin-right:4px}
.ui-contacts .ui-tab2-head .ui-contacts-arrow,.ui-contacts .ui-tab2-head .current .ui-contacts-arrow{zoom:1;width:16px;height:20px;overflow:hidden;margin-left:-24px;background-position:-14px -119px}
.ui-contacts .ui-tab2-head .ui-contacts-arrow:hover,.ui-contacts .ui-tab2-head .current .ui-contacts-arrow:hover{background-position:-14px -119px}
.ui-contacts-group{height:330px;overflow:hidden;overflow-y:auto;padding-top:3px;background:#fff;border:1px #d2d2d2 solid;border-width:0 1px 1px 1px;position:relative}
.ui-contacts-item{height:33px;overflow:hidden;border-bottom:1px #dedede solid;word-break:break-all}
.ui-contacts-group .first{border-top:1px #dedede solid}
.ui-contacts-group .current{background:#feffce}
.ui-contacts-item:hover,.ui-contacts-item-hover{background:#dbf0ff}
.ui-contacts-detail{display:block;height:25px;padding-top:7px;cursor:pointer;white-space:nowrap;*white-space:normal}
.ui-contacts-select{vertical-align:middle;float:left;height:20px;margin:0 6px 0 12px}
.ui-contacts-nickname{font-weight:600;margin-right:.5em}
.ui-contacts-account{font-weight:normal}
.ui-contacts .ui-popmenu{position:absolute}
.contacts-btn,.contacts-link{width:117px;height:36px;line-height:36px;background-position:-183px -124px;display:block;padding:0 0 0 36px;color:#4d4d4d;font-weight:bold}
.contacts-btn,.contacts-btn:hover{text-decoration:none;color:#808080}
.contacts-btn:hover,.contacts-link{background-position:-30px -124px;color:#4d4d4d}
html,body{background:#eee url("https://i.alipayobjects.com/e/201204/33TcgIPLwR.jpg")}
.color-orange{color:#fd7100}
.single-task #container{width:990px}
#main-box{background:#fff;margin-top:20px}
.title-line{border-bottom:1px solid #f0efef}
.title-line h3{height:50px;line-height:50px;padding-left:30px;font-size:16px;font-family:tahoma,arial}
.title-line .other{position:absolute;top:15px;right:30px;font:500 16px tahoma,arial}
.ui-form .ui-label{width:150px}
.ui-form .ui-input{font-size:14px;height:18px;padding:6px 9px 6px;*padding:9px 9px 4px}
.ui-form .ui-input::-webkit-input-placeholder{padding-top:1px}
.container-wrap{padding:0 45px 20px}
.ui-tipbox{width:auto;margin-bottom:20px}
.ui-tipbox .J-detail-switch{font-size:12px;font-weight:normal;margin-left:30px;padding-right:20px;background-repeat:no-repeat;background-image:url("https://i.alipayobjects.com/e/201204/33tb4kF8aR.png");cursor:pointer}
.ui-tipbox .J-detail-switch-off{background-position:54px -12px}
.ui-tipbox .J-detail-switch-on{background-position:54px -23px}
.ui-tipbox .ui-tipbox-icon{top:40px;left:240px;z-index:1}
.ui-tipbox .ui-tipbox-content{margin:0;position:relative;padding:0;background-color:#fff}
.ui-tipbox h3{font-size:16px;padding:45px 0 30px 290px}
.ui-tipbox h3.multi-row{padding:40px 200px 10px 290px}
.ui-tipbox .n-text{padding-left:290px;font-size:14px;padding-bottom:30px}
.ui-tipbox .n-explain{padding-left:290px;font-size:14px;border-bottom:1px dashed #e0e0e0;padding-top:30px;padding-bottom:30px;border-left:1px #dce0e4 solid;border-right:1px #dce0e4 solid}
.ui-tipbox .n-other{padding-top:14px;padding-bottom:14px;padding-left:290px;font-size:14px;border:1px #dce0e4 solid;border-top:0}
.ui-tipbox .n-other .ui-separator{padding:0 10px}
.ui-tipbox-success{background:0;border:0}
.ui-tipbox-success .ui-tipbox-content-wrap{background:none repeat scroll 0 0 #edffcc;border:1px solid #e5e5ce}
.ui-tipbox-error{background:0;border:0}
.ui-tipbox-error .ui-tipbox-content-wrap{background:none repeat scroll 0 0 #fceee8;border:1px solid #f6c8b5}
.ui-tipbox-warning{background:0;border:0}
.ui-tipbox-warning .ui-tipbox-content-wrap{background:#ffff9d;border:1px solid #e7c560}
.ui-tipbox-question{background:0;border:0}
.ui-tipbox-question .ui-tipbox-content-wrap{border:1px solid #cbd7e3;background:#e5f5ff}
.ui-tipbox-stop{background:0;border:0}
.ui-tipbox-stop .ui-tipbox-content-wrap{background:#fceee8;border:1px solid #f6c8b5}
.ui-tipbox-wait{background:0;border:0}
.ui-tipbox-wait .ui-tipbox-content-wrap{border:1px solid #ffe87e;background:#fff4c3}
.ui-tipbox-message{background:0;border:0}
.ui-tipbox-message .ui-tipbox-content-wrap{border:1px solid #cbd7e3;background:#e5f5ff}
.ui-dlist{margin-top:15px;margin-left:8px;line-height:20px}
.ui-dlist-tit{text-align:left;width:80px}
.ui-dlist-det{width:632px}
#container #footer{border-top:1px solid #ccc}
#container .single-footer{border-top:0 none}
#container .tip-faq{border-top:1px solid #ccc}
.server{color:#ddd}
.df-list{overflow:hidden}
.df-list li{padding:10px 45px}
.df-list li.active{background:#e9fbfc}
.df-list .df-list-wrap{position:relative}
.df-list .df-list-odd{background-color:#FFF}
.df-list .df-list-even{background-color:#f0f0f0}
.df-list .df-list-name{font-size:14px;padding-left:5px}
.df-list .df-list-name-first{font-size:14px}
.df-list .df-list-price{position:absolute;right:0;_right:75px}
.df-list .df-list-price-first{font-size:14px}
.df-list .df-list-explain{display:none;background-image:url(https://img.alipay.com/alice/ui-fm.png);background-repeat:no-repeat;*zoom:1;background-position:-186px 6px;padding:3px 0 0;padding:5px 0 0\9;_padding-top:3px;*margin-top:-1px;_margin-left:3px;font-size:12px;color:#b2b2b2}
.df-list .df-list-error .df-list-explain{display:block;color:#ff5243;padding-left:20px}
.df-list-switch{width:17px;height:17px;display:block;position:absolute;top:0;right:-32px;background-repeat:no-repeat;background-image:url("https://i.alipayobjects.com/e/201204/33tb4kF8aR.png");cursor:pointer;_right:45px}
.df-list-switch-off{background-position:0 -63px}
.df-list-switch-on{background-position:0 -41px}
.df-list-icon{background-image:url("https://i.alipayobjects.com/e/201204/33tb4kF8aR.png");background-repeat:no-repeat;background-position:0 -89px;width:3px;height:3px;overflow:hidden;position:absolute;left:0;top:8px}
.df-list .df-list-detail-container,.df-list .df-list-detail-action{display:none}
.df-list .active .df-list-detail-container,.df-list .active .df-list-detail-action{display:block}
.df-list-detail-action{border-top:1px dashed #dfe0e0;padding-top:10px}
#df-list-toggle-trigger{float:left;line-height:50px;margin-left:20px}
.df-list-hide-text{display:none}
.active .df-list-hide-text{display:inline}
.active .df-list-show-text{display:none}
.ui-tab2-1 .ui-tab2-head a,.ui-tab2-1 .ui-tab2-head span{background-image:url(https://i.alipayobjects.com/e/201310/1L7SEmz0FZ.png);background-repeat:no-repeat}
.ui-form-status{background:url(https://i.alipayobjects.com/e/201310/1L95bYT6Vx.gif) right bottom no-repeat}
.ui-form-item .ui-button-checkboxes .ui-state-selected{background:url(https://i.alipayobjects.com/e/201310/1L96psh3Fd.png) right bottom no-repeat}
.ui-form-item-error .ui-form-explain,.ui-form-item-warn .ui-form-explain,.ui-form-item-success .ui-form-explain{background-image:url(https://i.alipayobjects.com/e/201310/1L7C5Fuo5F.png);background-repeat:no-repeat}
.ui-form-item-loading .ui-form-explain{background:url(https://i.alipayobjects.com/e/201310/1L98B3pmg9.gif) 0 4px no-repeat}
.ui-contacts{background:#e8e8e8 url(https://i.alipayobjects.com/e/201310/1L7R0rTX2b.png) 0 0 repeat-x}
.df-list .df-list-explain{background-image:url(https://i.alipayobjects.com/e/201310/1L7C5Fuo5F.png);background-repeat:no-repeat;*zoom:1;background-position:-186px 6px}