.background,
.background::before {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.background:before {
    background-image: url('https://viteconf.org/images/background.png');
    background-repeat: repeat;
    background-size: 20em;
    content: '';
    -webkit-filter: grayscale(100%) opacity(.12);
    filter: grayscale(100%) opacity(.12);
}

.background {
    --x: 50%;
    --y: 320px;
    --size: 600px;
    --mask: radial-gradient(circle var(--size) at var(--x) var(--y), #0005 40%, #000 75%, transparent);
    -webkit-mask-image: var(--mask);
    mask-image: var(--mask);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    z-index: -1;
}